$Fondo-Card:linear-gradient(180deg, #2D2753 57.81%, rgba(57, 52, 93, 0.917226) 72.92%, rgba(66, 61, 99, 0.858936) 80.73%, rgba(91, 86, 118, 0.69688) 99.98%, rgba(123, 120, 141, 0.484375) 99.99%, rgba(196, 196, 196, 0) 100%, rgba(0, 0, 0, 0.25) 100%);

$titleFond:'Special Elite', cursive;
$subTitleFond: 'Inter', sans-serif;
$ButtonColor:#706C89;
$colorTitle:white;
$colorSubTitle:rgb(177, 177, 177);;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
}